# Ignorar carpetas bin y obj en todos los proyectos
**/bin/
**/obj/

# Ignorar archivos de configuración de Visual Studio
*.user
*.suo
*.sln.docstates

# Ignorar archivos de caché de Visual Studio Code
.vscode/

# Excluir archivos temporales
*.tmp
*.log
*.pdb
*.ipch

# Excluir archivos de depuración
*.ncb
*.suo
*.user

# Excluir archivos de Visual Studio
*.sln
**/.vs/NewSysAcad/**/*.suo